@font-face {
    font-family: 'AldotheApache';
    src: url('../fonts/AldotheApache.ttf');
}
@font-face {
    font-family: 'carolingia';
    src: url('../fonts/carolingia.ttf');
}
@font-face {
    font-family: 'AvestravaTattooPersonalUseOnly';
    src: url('../fonts/AvestravaTattooPersonalUseOnly.ttf');
}

body {
    font-family: "MS Sans Serif", Tahoma, Verdana, Segoe, sans-serif !important;
}

.v-application {
    font-family: "MS Sans Serif", Tahoma, Verdana, Segoe, sans-serif !important;
}

.carolingia{
    font-family: 'carolingia' !important;
}

.AldotheApache{
    font-family: 'AldotheApache' !important;
    font-size: 35px;
}

.AvestravaTattooPersonalUseOnly{
    font-family: 'AvestravaTattooPersonalUseOnly' !important;
    font-size: 65px;
    line-height: 55px;
}

.mirror {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}