<template>
  <v-container>
      <v-row class="py-8" justify="center">
        <v-col class="col-2 pax-0">
          <v-img
            src="@/assets/images/tramp-tattoo.png"
            contain
            height="100px"
            inline
          />
        </v-col>
        <v-col class="col-8 text-center AvestravaTattooPersonalUseOnly">
          {{ content }}
        </v-col>
        <v-col class="col-2 pax-0">
          <v-img
            src="@/assets/images/tramp-tattoo.png"
            class="mirror"
            contain
            height="100px"
            inline
          />
        </v-col>
        <v-col class="col-12 d-flex justify-center">
          <button @click="getMixedProverbs()">Otro</button>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
export default {
  name: "ProverbsGenerator",
  data() {
    return {
      content: '',
      proverbs: [
        { partA: "A palabras necias", partB: "oídos sordos" },
        { partA: "Perro que ladra", partB: "no muerde" },
        { partA: "A quien madruga", partB: "dios le ayuda" },
        { partA: "Preguntando", partB: "se llega a Roma" },
        { partA: "Una golondrina", partB: "no hace verano" },
        { partA: "Si amas lo que haces", partB: "nunca será un trabajo" }
      ],
      show: true
    }
  },
  mounted() {
    this.getMixedProverbs()
  },
  methods: {
    getMixedProverbs() {
      const first = Math.floor(Math.random() * (this.proverbs.length-1))
      const second = Math.floor(Math.random() * (this.proverbs.length-1))
      this.content = `${this.proverbs[first].partA} ${this.proverbs[second].partB}`
    }
  }
}
</script>

<style scoped>
button {
  border: solid 2px;
  border-top-color: #fff;
  border-right-color: #424242;
  border-left-color: #fff;
  border-bottom-color: #424242;
  background-color: silver;
  color: #212529;
  border-radius: 0px;
  outline: none;
  padding: 5px 10px;
}
button:active {
  border-top-color: #424242;
  border-right-color: #fff;
  border-left-color: #424242;
  border-bottom-color: #fff;
}
</style>