<template>
  <v-container>
    <v-row class="pa-15">    
      <v-col class="col-12"> {{ text }}</v-col>    
      <input v-model="text.name" type="text">
      <v-btn @click="generate()">
        Boton

      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Sesion',

    data: () => ({
     text: {name:'Jose', lastName: 'Vilchez'}
    }),
    methods: {
      generate(){
        localStorage.setItem('sesion', this.text.name)
      }
    }
  }
</script>
