<template>
  <div class="window" v-show="show">
    <div class="window-header" @mousedown="draggable">
      <span>{{index}} {{title}}</span>
      <button @click="close(index)"></button>
    </div>
    <v-row class="px-5">
      <v-col>
        <component :is="childcomponent"></component>    
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ProverbsGenerator from "@/components/about/ProverbsGenerator"
import MisDocumentos from "@/components/about/MisDocumentos"
import MisVideos from "@/components/about/MisVideos"


export default {
  name: "Window",
  components: {
    MisDocumentos,
    MisVideos,
    ProverbsGenerator
  },
  props: ['show', 'title', 'childcomponent', 'index'],
  methods: {
    close(index) {
      this.$emit('closemessage', index)
      this.show = false
    },
    draggable(e) {
      let pos1, pos2, pos3, pos4
      const element = e.target
    
      const elementDrag = (e) => {
        e = e || window.event
        e.preventDefault()
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX
        pos2 = pos4 - e.clientY
        pos3 = e.clientX
        pos4 = e.clientY
        // set the element's new position:
        element.parentNode.style.top = (element.parentNode.offsetTop - pos2) + "px"
        element.parentNode.style.left = (element.parentNode.offsetLeft - pos1) + "px"
      }

      const closeDragElement = () => {
        /* stop moving when mouse button is released:*/
        document.onmouseup = null
        document.onmousemove = null
      }

      e = e || window.event
      e.preventDefault()
      // get the mouse cursor position at startup:
      pos3 = e.clientX
      pos4 = e.clientY
      document.onmouseup = closeDragElement
      // call a function whenever the cursor moves:
      document.onmousemove = elementDrag
    }
  }
}
</script>

<style scoped>
.window {
  background-color: silver;
  border: solid 1px;
  border-color: #fff #424242 #424242 #fff;
  border-radius: 0px;
  color: #212529;
  left: -20%;
  position: absolute;
  top: 5%;
  transform: translateX(-12%);
}
.window-header {
  background: linear-gradient(90deg, rgba(8,33,107,1) 0%, rgba(165,206,247,1) 100%);
  color: white;
  cursor: move;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 6px 10px;
  user-select: none;
}
.window-header button {
  background-color: silver;
  border: solid 2px;
  border-color: #fff #424242 #424242 #fff;
  border-radius: 0px;
  color: #212529;
  height: 20px;
  outline: none;
  position: relative;
  width: 20px;
}
.window-header button::after {
  content: 'x';
  position: absolute;
  transform: translate(-50%,-50%);
}
.window-header button:active {
  border-color: #424242 #fff #fff #424242;
}
</style>