<template>
  <v-container class="pa-8 wallpaper" fluid>
    <v-row>
      <v-col class="col-12">
        {{components}}
      </v-col>
      <v-col class="col-12">
        <h1 @click="suceder">Construimos páginas por diversión</h1>
        <p>
          Como puedes ver en la parte de abajo hay 3 botones, el primero te
          mostrará un poco sobre quienes somos, que hacemos y por que. El 2do
          generara una frase de un proverbio que nosotros te recomendariamos que
          lo usaras para tatuartelo en la parte baja de la espalda al mejor
          estilo <i>tramp stamp</i>. El 3ro, aun no lo decidimos, así que es
          solo de decoración.
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="col-12">
        <v-btn
          v-for="(item, index) in buttons"
          :key="index"
          outlined
          elevation="2"
          tile
          class="secondary mr-3"
          dark
          @click="getComponent(item)"
          >
          {{item.name}}
        </v-btn>      
      </v-col>
    </v-row>
    <div class="space">
      <component
        v-for="(item, index) in components"
        :key="index"
        :is="item.component"
        :index="index"
        :title="item.title"
        :show="item.show"
        :childcomponent="item.childcomponent"
        @closemessage="veamos"
        >
      </component>
    </div>
  </v-container>
</template>

<script>

import AboutUs from "@/components/about/AboutUs"
import Sesion from "@/components/about/Sesion"
import Window from "@/components/about/Window"

export default {
  name: "AboutComponents",
  components: {
    AboutUs,
    Sesion,
    Window
  },
  data() {
    return {
      buttons: [
        {name:"About Us", title: "About Us", show: true, component: "AboutUs"},
        {name:"Tramp Stamp", title: "Tramp Stamp Generator", show: true, component: "Window", childcomponent: "ProverbsGenerator"},
        {name:"Local Store", title: "Local Storage", show: true, component: "Sesion"},
        {name:"Mis Docs", title: "Mis Documentos", show: true, component: "Window", childcomponent: "MisDocumentos"},
        {name:"Mis Videos", title: "Mis videos", show: true, component: "Window", childcomponent: "MisVideos"}
      ],
      components: []
    }
  },
  methods: {
    suceder() {
      this.components.shift()
    },
    getComponent(component){
      this.components.push(component)
    },
    veamos(value) {
      console.log("detonao")
      console.log(value)
      this.components.splice(value, 1, [])
    }
  }
}
</script>

<style scoped>
.space {
  background-color: #ffffff8a;
  position: absolute;
  height: 50vh;
  width: 40vw;
  top: 30%;
  left: 40%;
}
.wallpaper {
  background: url('../assets/images/wallpaper.jpg') no-repeat center/cover;
  speak-as: 'Photo by Eberhard Grossgasteiger from Pexels';
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: absolute;
}
</style>
