<template>
  <v-app>

    <v-navigation-drawer
        absolute
        app
        permanent
        mini-variant  
      >
        <v-list>
          <v-list-item class="px-2">
            <v-list-item-avatar>
              <v-img src="https://randomuser.me/api/portraits/women/19.jpg"></v-img>
            </v-list-item-avatar>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>

        <v-list nav dense >
          <v-list-item link to="/">
            <v-list-item-icon><v-icon>mdi-home</v-icon></v-list-item-icon>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item>
          <v-list-item to="/about">
            <v-list-item-icon><v-icon>mdi-meditation</v-icon></v-list-item-icon>
            <v-list-item-title>About</v-list-item-title>
          </v-list-item>
          <v-list-item link to="/vuetify">
            <v-list-item-icon><v-icon>mdi-vuetify</v-icon></v-list-item-icon>
            <v-list-item-title>Vuetify</v-list-item-title>
          </v-list-item>
          <v-list-item link to="/le-viajes">
            <v-list-item-icon><v-icon>mdi-earth</v-icon></v-list-item-icon>
            <v-list-item-title>Le-viajes</v-list-item-title>
          </v-list-item>
          <v-list-item link to="/ask-memes">
            <v-list-item-icon><v-icon>mdi-message-minus-outline</v-icon></v-list-item-icon>
            <v-list-item-title>AskMemes</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

    <v-main>
      <router-view></router-view>
    </v-main>

  </v-app>
</template>

<script>
  export default {
    data: () => ({ drawer: null })
  }
</script>